body {
  background-color: rgb(201 255 248);
}

h2 {
  color: #1c00b9;
}
.contenedor {
  height: 100vh;
}

.tarjeta {
  border: 1px solid #6f72ff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
}

.paquete {
  background-color: #ccf3ee;
  padding: 20px;
  border-radius: 10px;
}

.paquete .form-label {
  font-weight: bold;
}

.paquete .form-control {
  border-radius: 5px;
}

.paquete .btn-primary {
  width: 100%;
  border-radius: 5px;
}

.alinear {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
